*{
    margin: 0;
    padding: 0;
   }

   .produto-container {
       border: 1px solid darkslateblue;
       width: 480px;
   }

   .imagem-viagem {
       width: 480px;
       border-bottom: 1px solid darkslateblue;
   }

   .produto-footer {
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       margin: 10px 10px;
   }