*{
  margin: 0;
  padding: 0;
 }

.App-header {
  max-width: 100vw;
  min-height: 10vh;
  max-height: 40vh;
  height: 10%;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-banner {
  width: 100%;
}

.menu {
  position: absolute;
  display: flex;
  margin: 40px 0px 0px 500px;
}

li a{
  color: white;
  text-decoration: none;
}

li a:hover {
  background-color: black;
  color:purple;
}